@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply max-w-[100vw] bg-[#131317] font-roboto
    }
    *{
        @apply font-roboto
    }

}

@layer utilities {
      /* For removing scrollbar */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
        
        }
}

body::-webkit-scrollbar{
        width: 12px;
}
body::-webkit-scrollbar-track{
        background: #7b797c;
    }
body::-webkit-scrollbar-thumb{
        background-color: #0a0a0a;
        border: 3px solid transparent;
}


*::selection { 
            background: #895fdce1; 
            color: rgb(255, 255, 255);
        } 